/* Base */
html {
    font-size: 62.5%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
p {
    font-size: 1.7rem;
}
a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #f8aa4b;
}
a:hover {
    color: #f8aa4b;
}
ul, li {
    list-style-type: none;
    padding-left: 0;
}

/* Resuables */
.mainTitle {
    border-bottom: 2px solid #f8aa4b;
    padding-bottom: 1rem;
}
.wrapper {
    padding: 10%;
}
.flex {
    display: flex;
    min-height: 100vh;
}

/* Layout */

.title {
    flex-basis: 40%;
    background: #072448;
    color: white; 
}
    .title .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; 
    }
    .title .wrapper .socials {
        display: flex;
        gap: 2rem;
        width: 100%;
        list-style-type: none;
        padding: 0;
        font-size: 2rem;
    }
        .title .wrapper .socials a {
            border-bottom: none;
        }
.content {
    flex-basis: 60%;
    background: #dbe0e5;
}
    .content .wrapper {
        height: 100%;
        display: flex;
        justify-content: stretch;
        align-items: center;
    }
        .content .wrapper .statistics {
            width: 100%;
            border-radius: 10px;
        }
            .content .wrapper .statistics .searchTag{
                display: block;
                font-size: 1.7rem;
                color: rgb(85, 85, 85);
                margin: 1rem 0;
            }
            .content .wrapper .statistics .form *{
                border: none;
                font-size: 1.7rem;
                padding: 1.5rem;
                margin-bottom: 3rem;
                background: transparent;
                border: 2px solid #072448;
                color: #072448;
                height: 65px;
            }
                .content .wrapper .statistics .form button:hover{
                   background: #072448;
                   color: #f8aa4b;
                }
            .content .wrapper .statistics .update{
                display: block;
                font-size: 1.7rem;
                color: rgb(85, 85, 85);
                margin: 1rem 0;
            }
            .content .wrapper .statistics p{
                font-size: 2rem;
                font-weight: bold;
            }
                .content .wrapper .statistics .sublist{
                    margin-bottom: 2rem;
                }
                    .content .wrapper .statistics .sublist li{
                        font-size: 1.8rem;
                        margin-bottom: .5rem;
                    }
                        .content .wrapper .statistics .sublist li .change{
                            display: inline-block;
                            width: 220px;
                        }

/* MEDIA QUERIES */

@media (max-width: 991px) {
    .flex {
       flex-direction: column; 
    }
    .selection, button {
        text-align: center;
        width: 100%;
    }
    #selection {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 550px) {
    .loading {
        display: block;
    }
}